@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
#navbar, #sidebar, #footer, footer,#submit-button, #loader{
  background-color: #181823;
}
main{
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 5rem;
}
#hero{
  opacity: 0;
  animation: fade 1000ms ease-in-out 0ms forwards;
}
#sidebar, #navbar, #filters, img{
  opacity: 0;
  animation: fade 400ms ease-in-out 0ms forwards;
}


/*KEY FRAMES*/
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    position: relative;
    left: -10vw;
    opacity: 0;
  }
  100% {
    position: relative;
    left: 0vw;
    opacity: 1;
  }
}